<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- CSS only -->
  <link rel="stylesheet" href="/css/style.css">
  <title>Register</title>
</head>

<body>

  <ul>
    <% if (typeof errors !='undefined' ) { %>
      <% errors.forEach(error=> { %>
        <li>
          <%= error.message %>
        </li>
        <% }) %>
          <% } %>
  </ul>

  <!-- Section: Design Block -->
  <section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
    <!-- Background image -->

    <div class="card-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
      <div class="card-body py-5 px-md-5">

        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Register now As User</h2>
            <br>
            <form action="/register" method="POST">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
                <label class="form-label">Email address</label>
                <br>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" class="form-control 
              id=" password" name="password" placeholder="Password" required " />
              <label class=" form-label">Password</label>
              <br>
              </div>

              <!-- Password 2 input -->

              <div class="form-outline mb-4">
                <input type="password" class="form-control 
              id=" password2" name="password2" placeholder="Confirm Password" required" />
                <label class="form-label">Password</label>
                <br>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" value="Register">
                register!
              </button>
              <br>

              <p class="text-center">OR</p>

              <a class="btn btn-primary btn-lg btn-block" style="background-color: #c53051" href="/login" role="button">
                <i class="fab fa-facebook-f me-2"></i>!!!login!!!
            </form>
            <br>


            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</body>

</html>